.movies-container{
    /* background-color: antiquewhite; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: space-between;
    padding: 0;
    column-gap: 1em;
    row-gap: 3em;
    list-style: none;
}
.movie{
    background-color: #100a;
    border-radius: .5em;
    width: 100%;
}
.movie img{
    display: block;
    width: 100%;
}
.movie h4{
    margin: .2em;
}

.form-searcher{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
}
.form-searcher input[type="text"]{
    width: 200px;
}
.form-searcher__sections{}

@media (max-width: 424px) {
    .form-searcher__sections{
        width: 100%;
    }
    .form-searcher input[type="text"]{
        width: 100%;
    }
}